# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore system files
.DS_Store

.Config

venvo/

*.db
*.json
*.csv".env" 
__pycache__/
airbnb host/__pycache__/
airbnb host/Airbnb.db
airbnb host/hosts.csv